[MAIN]
persistent=no

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-locals,
    too-many-arguments,
    too-many-positional-arguments,
    duplicate-code

[BASIC]
good-names=i,j,k,ex,db,SessionLocal
